<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/competences.css">
    <title>Luigi Gandemer</title>
</head>

<body class="flex-center flex-col">
    <main>
        <nav class="flex-center">
            <hr>
            <ul class="flex-around">
                <li><a href="../index.html">ACCUEIL</a></li>
                <li><a href="./parcours.html">PARCOURS</a></li>
                <li>
                    <img src="../assets/img/logo.png" alt="Logo du siteweb">
                </li>
                <li><a href="./projets.html">PROJETS</a></li>
                <li><a href="./competences.html">COMPÉTENCES</a></li>
            </ul>
            <hr>
        </nav>

        <section>
            <h1 class="text-center">MES COMPÉTENCES</h1>
            <article class="flex-center">
                <div class="w-33 soft-skills">
                    <hr>
                    <h2>Softskills</h2>
                    <p>Envie d'apprendre</p>
                    <p>Travail d'équipe</p>
                    <p>Sens de l'observation</p>
                    <p>A l'écoute</p>
                    <p>Logique</p>
                </div>
                <div class="w-66 hard-skills">
                    <hr>
                    <h3>Hardskills</h3>
                    <p>Manipuler une base de données</p>
                    <p>Concevoir une API REST</p>
                    <p>Créer une interface graphique</p>
                    <p>Concevoir une maquette</p>
                    <p>Concevoir des diagrammes (UML/MLD)</p>
                    <p>Exploiter un CMS</p>
                </div>
            </article>
            <article class="flex-center second-article">
                <div class="w-33 software">
                    <hr>
                    <h4>Software</h4>
                    <p>Looping MCD</p>
                    <p>Adobe XD</p>
                    <p>Figma</p>
                    <p>StarUML</p>
                    <p>GiMP</p>
                    <p>Insomnia</p>
                    <p>Postman</p>
                </div>
                <div class="w-33 lang-cms">
                    <hr>
                    <h5>Langages & CMS</h5>
                    <p>HTML</p>
                    <p>CSS</p>
                    <p>JavaScript</p>
                    <p>PHP</p>
                    <p>WordPress</p>
                    <p>Moodle</p>
                </div>
                <div class="w-33 lib-plugin">
                    <hr>
                    <h6>Librairies & Plugins</h6>
                    <p>Tailwind CSS</p>
                    <p>Bootstrap</p>
                    <p>Tilt.js</p>
                    <p>TCPDF</p>
                    <p>Elementor Pro</p>
                    <p>WooCommerce</p>
                    <p>Champs ACF</p>
                    <p>SendInBlue</p>
                </div>
            </article>
        </section>

        <hr>
        <footer>
            <h3 class="text-center">MES RÉSEAUX</h3>
            <section class="flex-center">
                <a href="https://github.com/LuigiG34" target="_blank">
                    <img src="../assets/img/icons/socials/github.svg" alt="">
                </a>
                <a href="https://www.linkedin.com/in/luigi-gandemer-b66518238/" target="_blank">
                    <img src="../assets/img/icons/socials/linkedin.svg" alt="">
                </a>
                <a href="mailto: luigigandemer6@gmail.com" target="_blank">
                    <img src="../assets/img/icons/socials/mail.svg" alt="">
                </a>
            </section>
        </footer>
    </main>
</body>

</html>