<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/parcours.css">
    <title>Luigi Gandemer</title>
</head>

<body class="flex-center flex-col">
    <main>
        <nav class="flex-center">
            <hr>
            <ul class="flex-around">
                <li><a href="../index.html">ACCUEIL</a></li>
                <li><a href="./parcours.html">PARCOURS</a></li>
                <li>
                    <img src="../assets/img/logo.png" alt="Logo du siteweb">
                </li>
                <li><a href="./projets.html">PROJETS</a></li>
                <li><a href="./competences.html">COMPÉTENCES</a></li>
            </ul>
            <hr>
        </nav>

        <section class="desktop-version">
            <h1 class="text-center">MON PARCOURS</h1>
            <h2 class="text-left">FORMATIONS</h2>
            <hr>

            <article class="flex-between margin-3">
                <div class="w-33">
                    <p class="text-left">Lycée Jules Guesde</p>
                </div>
                <div class="w-33">
                    <p class="text-center">GRETA CFA / SUP DEC NOUAS</p>
                </div>
                <div class="w-33">
                    <p class="text-right">ADRAR Formation</p>
                </div>
            </article>

            <article class="flex-between">
                <div class="w-33 pad">
                    <p class="text-left"><span>Bac STMG option Gestion Finance</span></p>
                </div>
                <div class="w-33 pad">
                    <p class="text-center"><span>Projet Professionnel</span></p>
                </div>
                <div class="w-33 pad">
                    <p class="text-right"><span>Développeur Web spécialisé en conception</span></p>
                </div>
            </article>

            <article class="flex-around">
                <div class="flex-center circle">
                    <p>2020</p>
                </div>
                <hr>
                <div class="flex-center circle">
                    <p>2021</p>
                </div>
                <hr>
                <div class="flex-center circle">
                    <p>2022</p>
                </div>
            </article>

            <h2 class="text-right second-title">EXPÉRIENCE PROFESSIONNELLE</h2>
            <hr>
            <article class="flex-between margin-3">
                <div class="w-33">
                    <p class="text-left">Stage NOUAS Recyclerie</p>
                </div>
                <div class="w-33">
                    <p class="text-center">Stage BonChicBonChien</p>
                </div>
                <div class="w-33">
                    <p class="text-right">Stage ENIMAD</p>
                </div>
            </article>

            <article class="flex-between">
                <div class="w-33 pad">
                    <p class="text-left"><span>Maintenance Informatique</span></p>
                </div>
                <div class="w-33 pad">
                    <p class="text-center"><span>Développeur Web Freelance</span></p>
                </div>
                <div class="w-33 pad">
                    <p class="text-right"><span>Développeur Web WordPress</span></p>
                </div>
            </article>

            <article class="flex-around last-article">
                <div class="flex-center circle">
                    <p>2021</p>
                </div>
                <hr>
                <div class="flex-center circle">
                    <p>2021</p>
                </div>
                <hr>
                <div class="flex-center circle">
                    <p>2022</p>
                </div>
            </article>
        </section>

        <section class="mobile-version">
            <h1>MON PARCOURS</h1>
            <h2>FORMATIONS</h2>
            <hr>

            <article class="flex-around circles">
                <div class="container">
                    <p>Lycée Jules Guesde</p>
                    <div class="flex-center circle">
                        <p>2020</p>
                    </div>
                    <p>Bac Technologique</p>
                </div>

                <hr>
                <div class="container">
                    <p>GRETA CFA<br>SUP DEC NOUAS</p>
                    <div class="flex-center circle">
                        <p>2021</p>
                    </div>
                    <p>Projet Professionnel</p>
                </div>

                <hr>
                <div class="container">
                    <p>ADRAR Formation</p>
                    <div class="flex-center circle">
                        <p>2022</p>
                    </div>
                    <p>Développeur Web</p>
                </div>
            </article>

            <h3>EXPÉRIENCE PROFESSIONNELLE</h3>
            <hr>

            <article class="flex-around circles">
                <div class="container">
                    <p>Stage NOUAS Recyclerie</p>
                    <div class="flex-center circle">
                        <p>2021</p>
                    </div>
                    <p>Maintenance Informatique</p>
                </div>

                <hr>
                <div class="container">
                    <p>Stage BonChicBonChien</p>
                    <div class="flex-center circle">
                        <p>2021</p>
                    </div>
                    <p>Développeur Web Freelance</p>
                </div>

                <hr>
                <div class="container">
                    <p>Stage Enimad</p>
                    <div class="flex-center circle">
                        <p>2022</p>
                    </div>
                    <p>Développeur Web WordPress</p>
                </div>
            </article>
        </section>

        <hr>
        <footer>
            <h3 class="text-center">MES RÉSEAUX</h3>
            <section class="flex-center">
                <a href="https://github.com/LuigiG34" target="_blank">
                    <img src="../assets/img/icons/socials/github.svg" alt="">
                </a>
                <a href="https://www.linkedin.com/in/luigi-gandemer-b66518238/" target="_blank">
                    <img src="../assets/img/icons/socials/linkedin.svg" alt="">
                </a>
                <a href="mailto: luigigandemer6@gmail.com" target="_blank">
                    <img src="../assets/img/icons/socials/mail.svg" alt="">
                </a>
            </section>
        </footer>
    </main>
</body>

</html>