<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/projets.css">
    <title>Luigi Gandemer</title>
</head>

<body class="flex-center flex-col">
    <main>
        <nav class="flex-center">
            <hr>
            <ul class="flex-around">
                <li><a href="../index.html">ACCUEIL</a></li>
                <li><a href="./parcours.html">PARCOURS</a></li>
                <li>
                    <img src="../assets/img/logo.png" alt="Logo du siteweb">
                </li>
                <li><a href="./projets.html">PROJETS</a></li>
                <li><a href="./competences.html">COMPÉTENCES</a></li>
            </ul>
            <hr>
        </nav>

        <h1 class="text-center">MES PROJETS</h1>
        <section class="flex-col">
            <h2 class="text-left">EN FORMATION</h2>
            <hr>
            <article class="flex-center">
                <a href="projects/mediabat.html">
                    <div class="flex-center flex-col">
                        <div class="circles">
                            <img src="../assets/img/desktop-mobile/mediabat.png" alt="">
                        </div>
                        <p>MEDIABAT</p>
                    </div>
                </a>
                
                <a href="projects/sneakers-certifie.html">
                    <div class="flex-center flex-col">
                        <div class="circles">
                            <img src="../assets/img/desktop-mobile/sneakers-certifie.png" alt="">
                        </div>
                        <p>SNEAKERS CERTIFIÉ</p>
                    </div>
                </a>
            </article>

            <h3 class="text-right">EN ENTREPRISE</h3>
            <hr>

            <article class="flex-center">
                <a href="projects/divin-cocktail.html">
                    <div class="flex-center flex-col">
                        <div class="circles">
                            <img src="../assets/img/desktop-mobile/divin-cocktail.png" alt="">
                        </div>
                        <p>DIVIN COCKTAILS</p>
                    </div>
                </a>

                <a href="projects/bullet-journal.html">
                    <div class="flex-center flex-col">
                        <div class="circles">
                            <img src="../assets/img/desktop-mobile/bullet-journal.png" alt="">
                        </div>
                        <p>BULLET JOURNAL</p>
                    </div>
                </a>

                <a href="projects/bam-concept.html">
                    <div class="flex-center flex-col">
                        <div class="circles">
                            <img src="../assets/img/desktop-mobile/bam-concept.png" alt="">
                        </div>
                        <p>BAM CONCEPT</p>
                    </div>
                </a>

                <a href="projects/enimad-invest.html">
                    <div class="flex-center flex-col">
                        <div class="circles">
                            <img src="../assets/img/desktop-mobile/enimad-invest.png" alt="">
                        </div>
                        <p>ENIMAD INVEST</p>
                    </div>
                </a>

                <a href="projects/potager-de-sante.html">
                    <div class="flex-center flex-col">
                        <div class="circles">
                            <img src="../assets/img/desktop-mobile/potager-sante.png" alt="">
                        </div>
                        <p>POTAGER DE SANTÉ</p>
                    </div>
                </a>
            </article>

            <h4>EN AUTODIDACTE</h4>
            <hr>

            <article class="flex-center last-article">
                <a href="projects/debit-card.html">
                    <div class="flex-center flex-col">
                        <div class="circles">
                            <img src="../assets/img/desktop-mobile/debit-card.png" alt="">
                        </div>
                        <p>DEBIT CARD</p>
                    </div>
                </a>

                <a href="projects/calculator.html">
                    <div class="flex-center flex-col">
                        <div class="circles">
                            <img src="../assets/img/desktop-mobile/calculator.png" alt="">
                        </div>
                        <p>CALCULATOR</p>
                    </div>
                </a>

                <a href="projects/space-invaders.html">
                    <div class="flex-center flex-col">
                        <div class="circles">
                            <img src="../assets/img/desktop-mobile/space-invaders.png" alt="">
                        </div>
                        <p>SPACE INVADERS</p>
                    </div>
                </a>

                <a href="projects/weather-app.html">
                    <div class="flex-center flex-col">
                        <div class="circles">
                            <img src="../assets/img/desktop-mobile/meteo.png" alt="">
                        </div>
                        <p>WEATHER APP</p>
                    </div>
                </a>

            </article>
        </section>

        <hr>
        <footer>
            <h3 class="text-center">MES RÉSEAUX</h3>
            <section class="flex-center">
                <a href="https://github.com/LuigiG34" target="_blank">
                    <img src="../assets/img/icons/socials/github.svg" alt="">
                </a>
                <a href="https://www.linkedin.com/in/luigi-gandemer-b66518238/" target="_blank">
                    <img src="../assets/img/icons/socials/linkedin.svg" alt="">
                </a>
                <a href="mailto: luigigandemer6@gmail.com" target="_blank">
                    <img src="../assets/img/icons/socials/mail.svg" alt="">
                </a>
            </section>
        </footer>
    </main>
</body>

</html>