<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../assets/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../assets/css/projects.css">
    <title>Luigi Gandemer</title>
</head>

<body class="flex-center flex-col">
    <main>
        <nav class="flex-center">
            <hr>
            <ul class="flex-around">
                <li><a href="../../index.html">ACCUEIL</a></li>
                <li><a href="../parcours.html">PARCOURS</a></li>
                <li>
                    <img src="../../assets/img/logo.png" alt="Logo du siteweb">
                </li>
                <li><a href="../projets.html">PROJETS</a></li>
                <li><a href="../competences.html">COMPÉTENCES</a></li>
            </ul>
            <hr>
        </nav>
        <section class="flex-center">
            <article>
                <h1>BAM CONCEPT</h1>
                <hr>
                <h2>DESCRIPTION</h2>
                <p>Le site BAM Concept à été réalisé lors de mon stage à Enimad. La société commercialise et produit des packagings personnalisés pour des sociétés ou particuliers. Les produits proposés sont des boites à masques, des cendriers de poche, des bullets, etc...</p>
                <hr>
                <h3>TECHNOLOGIES</h3>
                <div>
                    <img src="../../assets/img/logo-description/Wordpress.png" alt="">
                    <img src="../../assets/img/logo-description/Elementor.png" alt="">
                </div>
                
                <a href="https://bam-concept.fr/" target="_blank" rel="noopener noreferrer">
                    <button>Voir le projet</button>
                </a>
            </article>
            <article class="flex-center">
                <img src="../../assets/img/desktop-mobile/bam-concept.png" alt="">
            </article>
        </section>

        <hr>
        <footer>
            <h3 class="text-center">MES RÉSEAUX</h3>
            <section class="flex-center">
                <a href="https://github.com/LuigiG34" target="_blank">
                    <img src="../../assets/img/icons/socials/github.svg" alt="">
                </a>
                <a href="https://www.linkedin.com/in/luigi-gandemer-b66518238/" target="_blank">
                    <img src="../../assets/img/icons/socials/linkedin.svg" alt="">
                </a>
                <a href="mailto: luigigandemer6@gmail.com" target="_blank">
                    <img src="../../assets/img/icons/socials/mail.svg" alt="">
                </a>
            </section>
        </footer>
    </main>
</body>

</html>